.about-stream {
  //   display: flex;
  display: none;
  justify-content: space-between;
  padding: 0px 0px 30px 0px;
  background-image: url(../img/Subtract.png);
  max-width: 1440px;
  margin: 0 auto;
  background-size: cover;
  background-position: top;
  max-height: 568px;

  @include for-size(phone-only) {
    flex-direction: column;
    padding: 0px;
  }

  // .about-stream__description
  &__description {
    max-width: 417px;
    margin: 134px 50px 0px 119px;

    & p:first-of-type {
      margin-bottom: 15px;
    }

    @include for-size(desktop-down) {
      margin: 100px 50px 0px 100px;
      max-width: 350px;
    }

    @include for-size(tablet-landscape-down) {
      margin: 50px 50px 0px 50px;
    }

    @include for-size(tablet-portrait-down) {
      margin: 50px 25px 0px 25px;
      max-width: 300px;
    }

    @include for-size(phone-only) {
      order: 2;
      margin: 0px auto 30px;
      max-width: 100%;
      padding: 0px 20px 0px 20px;
    }
  }
  // .about-stream__title
  &__title {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 34px;

    @include for-size(tablet-portrait-down) {
      margin-bottom: 20px;
    }
  }

  // .about-stream__text
  &__text {
    font-family: "HelveticaNeueCyr";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
  }

  //.about-stream__btn
  &__btn {
    border: 1px solid #2f80ed;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #2f80ed;
    padding: 14px 88px;
    margin-top: 28px;
  }

  // .about-stream__picture
  &__picture {
    margin: 50px 138px 0px 0px;
    max-width: 475px;

    & img {
      max-width: 100%;
      max-height: 466px;
      object-fit: contain;

      @include for-size(tablet-landscape-down) {
        max-height: 400px;
      }

      @include for-size(phone-only) {
        max-height: 275px;
      }
    }

    @include for-size(desktop-down) {
      margin: 50px 100px 0px 0px;
    }

    @include for-size(tablet-landscape-down) {
      margin: 50px 75px 0px 0px;
    }

    @include for-size(tablet-portrait-down) {
      margin: 50px 25px 0px 0px;
    }

    @include for-size(phone-only) {
      order: 1;
      margin: 50px auto;
      padding: 0px 20px 0px 20px;
    }
  }
}
